{
    "group_welc_fixed_msg": {
      "A7❤️进群看群公告": "欢迎新朋友入群\n免费搜剧格式为：\n\n搜xxx（xxx为剧名或序号）\n剧名前面加个搜字\n",
      "诗词配音素材群": "欢迎新朋友入群\n免费搜剧格式为：\n\n搜xxx（xxx为剧名或序号）\n剧名前面加个搜字\n。",
      "A6❤️短剧看群公告": "欢迎新朋友入群\n免费搜剧格式为：\n\n搜xxx（xxx为剧名或序号）\n剧名前面加个搜字\n"
    },

  "group_welc_prompt": "欢迎新朋友入群\n免费搜剧格式为：\n搜xxx（xxx为剧名或序号）\n剧名前面加个搜字\n",

  "group_exit_prompt": "欢迎新朋友入群\n免费搜剧格式为：\n搜xxx（xxx为剧名或序号）\n剧名前面加个搜字\n",

  "patpat_prompt": "欢迎新朋友入群\n免费搜剧格式为：\n搜xxx（xxx为剧名或序号）\n剧名前面加个搜字\n",

  "use_character_desc": false
}