{
    "godcmd": {
        "password": "",
        "admin_users": []
    },
    "banwords": {
        "action": "replace",
        "reply_filter": true,
        "reply_action": "ignore"
    },
    "tool": {
        "tools": [
            "url-get",
            "meteo-weather"
        ],
        "kwargs": {
            "top_k_results": 2,
            "no_default": false,
            "model_name": "gpt-3.5-turbo"
        }
    },
    "linkai": {
        "group_app_map": {
            "测试群1": "default",
            "测试群2": "Kv2fXJcH"
        },
        "midjourney": {
            "enabled": true,
            "auto_translate": true,
            "img_proxy": true,
            "max_tasks": 3,
            "max_tasks_per_user": 1,
            "use_image_create_prefix": true
        },
        "summary": {
            "enabled": true,
            "group_enabled": true,
            "max_file_size": 5000,
            "type": ["FILE", "SHARING"]
        }
    },
    "hello": {
        "group_welc_fixed_msg": {
            "群聊1": "群聊1的固定欢迎语",
            "群聊2": "群聊2的固定欢迎语"
        },
        "group_welc_prompt": "欢迎新朋友入群\n免费搜剧格式为：\n搜xxx（xxx为剧名或序号）\n剧名前面加个搜字\n",

        "group_exit_prompt": "欢迎新朋友入群\n免费搜剧格式为：\n搜xxx（xxx为剧名或序号）\n剧名前面加个搜字\n",

        "patpat_prompt": "欢迎新朋友入群\n免费搜剧格式为：\n搜xxx（xxx为剧名或序号）\n剧名前面加个搜字\n",

        "use_character_desc": false
    },
    "Apilot": {
        "alapi_token": "xxx",
        "morning_news_text_enabled": false
    }
}
